/* * {
  border: 1px solid red;
} */

* {
  box-sizing: border-box;
}

body {
  padding-top: 87px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.header {
  text-align: center;
}

.column {
  display: inline-block;
  float: left;
  width: 33.33333333333333%;
}

.main-text {
  padding-top: 60px;
  clear: both;

}

.intro {
  padding: 0 20px;
}

.skills {
  padding: 0 20px;
}
.image img {
  width: 100%;
}

#skill-list {
  margin-left: 50px;
}

.nav ul li {
  display: inline-block;
  float: right;
  margin-right: 100px;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0px;
}

.nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 30px;
  padding: 20px;
  float: left;
  font-size: 1.2em;
}

.nav ul li a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
    font-size: 1em;
}

.nav a:hover {
  color: #ff0;
  text-decoration: none;
  -webkit-transition: color 600ms;
}



/* Typography */

h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
}

p {
  font-family: Georgia, Times, serif;
}

li {
  font-family: Georgia, Times, serif;
}

.intro p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  -webkit-margin-before: 0;
}

.skills h3 {
  text-align: center;
  text-transform: uppercase;
}

body {
  background-color: #fffeea;
  color: #34495e;
}

.skills{
  background-color: #5AD4c2;
  color: #fff;
}

.nav {
  font-family: Futura, Helvetica, Arial, sans-serif;

}
