* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/wood.jpg");
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.main-text {
  margin: 0 auto;
}

.column {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-bottom: solid;
  border-color: #000000;
  border-width: thin;
}

.header {
  margin: 170px auto 30px auto;
  border: solid;
  border-color: #000000;
}

.email
.phone {
  float: left;
}


.nav ul li {
  display: inline-block;
  float: right;
  margin-right: 100px;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0px;
}

.nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 30px;
  padding: 20px;
  float: left;
  font-size: 1.2em;
}

.nav ul li a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
    font-size: 1em;
}

.nav a:hover {
  color: #ff0;
  text-decoration: none;
  -webkit-transition: color 600ms;
}


/* Typography */

body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.header {
  text-transform: none;
  text-transform: uppercase;
}

.email
.phone {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-transform: inherit;
}

.main-text {
  font-weight: 400;
}
