
body {
  position: relative;

}

.jumbotron {
   background-image: url("../img/landscape.jpg");
   background-size: cover;
}

.jumbotron p {
	color: white;
}


* {
  box-sizing: border-box;
}

.container {
  margin: 0px auto;
  width: 80%;

}

.container-fluid {
  margin: 86px;
  padding-left: 0px;
  padding-right: 0px;

}


#contact {
  /* background-image: url("../img/wood.jpg");
  background-size: cover;
  height: 100%; */
}

#faq {
  /* background-image: url("../img/wood.jpg");
  background-size: cover;
  height: 100%;
  padding-top: 105px; */
}

#about{

}

html, body {
  height: 100%;
  background-color: #B9B9B9;

}

.wrapper {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.main-text {
  margin: 0 auto;
}

.column {
  display: inline-block;
  width: 50%;

}

/* .column p {
  text-align: left;
} */

.contact-me p {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.header {
  margin: 170px auto 30px auto;
  border: solid;
  border-color: #000000;
}



.questions {
  margin: 65px auto 30px auto;
  border: solid;
  border-color: #000000;
}



/* .email
.phone {
  float: left;
} */

.nav ul li {
  display: inline-block;
  float: right;
  margin-right: 100px;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 30px;
  padding: 20px;
  float: left;
  font-size: 1.2em;
}

.nav ul li a {
  color: #B9B9B9;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1em;
  font-family: Futura, Helvetica, Arial, sans-serif;

}


.carousel {
  margin-left: -15px;
  margin-right: -15px;
}

.carousel-caption {
  color: black;
}

/* .panel-title {

} */


.panel-body {
  background-color: grey;
  color: white;
}

.panel-heading {
  background-color: black;
  color: white;
}

#workhead {
  text-align: center;
}

.row {
  padding: 0px;
}

 .col-xs-12 {
   margin: 30px auto;
 }

.col-sm-6 {
  margin: 30px auto;
}

.col-md-3 {
  margin: 30px auto;
}



/* Typography Contact Page*/

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  letter-spacing: .1em;
}

body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.contact-me {
  color: white;
}

.questions {
  color: white;
}

.header {
  text-transform: none;
  text-transform: uppercase;
}

.email
.phone {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-transform: inherit;
}

.main-text {
  font-weight: 400;
}

/* About Me Styles */

* {
  box-sizing: border-box;
}

#about body {
  padding-top: 30px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

#about .header {
  text-align: center;
}

#about .column {
  display: inline-block;
  float: left;
  width: 33.33333333333333%;
}

#about .main-text {
  padding-top: 60px;
  clear: both;

}

#about .intro {
  padding: 0 20px;
}

#about .skills {
  padding: 0 20px;
}

#about .image img {
  width: 100%;
}

#skill-list {
  margin-left: 50px;
}
/*
.nav ul li {
  display: inline-block;
  float: right;
  margin-right: 100px;
}

.nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0px;
}

.nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 30px;
  padding: 20px;
  float: left;
  font-size: 1.2em;
}

.nav ul li a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
    font-size: 1em;
}

.nav a:hover {
  color: #ff0;
  text-decoration: none;
  -webkit-transition: color 600ms;
} */



/* Typography */


.nav a:hover {
  /* color: #8D29F0; */
  color: #EBC082;
  text-decoration: none;
  -webkit-transition: color 600ms;
}

h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
}

p {
  font-family: Georgia, Times, serif;
}

li {
  font-family: Georgia, Times, serif;
}

h2  {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.intro p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  -webkit-margin-before: 0;
}

.main-text p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
}

.skills h3 {
  text-align: center;
  /* text-transform: uppercase; */
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-weight: 100;
}

#skill-list li {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-weight: 100;
}

body {
  background-color: #B9B9B9;
  color: black;
}

.skills{
  /* background-color: #5AD4c2; */
  color: black;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
}
/*
.nav {
  font-family: Futura, Helvetica, Arial, sans-serif;

} */
